/* --------------------------------------------------------------------------------
/// <summary>
/// CSS (modified from old works)
/// </summary>
/// <created>ʆϒʅ,13.05.2022</created>
/// <changed>ʆϒʅ,22.05.2022</changed>
 --------------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) and (max-height: 768px) {
  p {
    font-family: 'Segoe UI', Verdana, Arial;
    /*fallback system starts at wished font and end with a generic font family*/
    font-size: inherit;
  }
}
/*different style rules supporting different media with same style sheet file.
a research on media type before use is advised.*/
@media only print {
  p {
    font-family: 'Segoe UI', Verdana,Arial;
    font-size: inherit;
    color: black;
  }
}


body {
  margin: 5%;
  padding: 5%;
  font-family: 'Segoe UI Regular';
}
/*Note: Cross browsers: predefined margin and padding to avoid visual differences*/


header {
  overflow: hidden;
}


a {
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
}
  /*element selector usage*/

  /*Notes:*/
  /*CSS selectors are element, class and id selectors*/
  /*a custom identifier for selectors never starts with numbers*/


  a.link-class {
    font-size: 1.2em;
    /*em size unit is recommended by W3C, encouraging pixels/16=em formula*/
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #8000FF
  }

.link-class {
  display: block;
  max-height: 40px;
  overflow: hidden;
}
/*class selector usage*/

a.link-class:hover, a.link-class:active {
  text-align: left;
  font-size: 30px;
  color: sandybrown;
  transition-duration: 2s;
}
/*pseudo classes usage*/


h1 {
  overflow: hidden;
}


p {
  text-align: left;
  font-size: 18px;
  background-color: #d8d8d8;
  padding: 10px;
}


/*more CSS selectors: CSS Combinators*/
div p {
  background-color: blue;
}
/*CSS descendant: select all <p> elements inside of*/
div ~ p {
  background-color: blueviolet;
}
/*CSS general sibling: select all <p> siblings of*/
div > p {
  background-color: brown;
}
/*CSS child selector: select all <p> elements that are immediate children of*/
div + p {
  background-color: firebrick;
}
/*CSS adjacent sibling: select all <p> placed immediately after of*/


nav {
}


ul.menu-nav, ul.menu-nav ul {
  list-style: none;
  display: block;
  background-color: #141a1d;
  height: 40px;
  overflow: hidden;
  padding: 5px;
  border-bottom: 5px solid #007bff;
  clear: both;
}

  ul.menu-nav li {
    float: left; /*float list items next to each other*/
    height: 30px;
    width: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
  }

    ul.menu-nav li a {
      height: 20px;
      display: block; /*whole link area click-able*/
      color: mediumspringgreen;
    }

  ul.menu-nav .has-sub ul {
    position: absolute;
    height: 80px;
    width: 220px;
    top: 320px;
    display: none;
  }

  ul.menu-nav .has-sub li {
    float: none;
  }

  ul.menu-nav .has-sub ul .has-sub ul {
    position: relative;
    height: 40px;
    top: -20px;
    left: 80px;
    display: none;
    border: 0px;
  }

  ul.menu-nav .has-sub ul .has-sub li {
    float: left;
  }


#menu-one > li > a:hover::after, #menu-one > li > a:focus::after {
  content: '';
  display: block; /*adjustable as blocks*/
  left: 50%;
  border-top: 10px dotted forestgreen; /*shorthand property usage*/
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 10px;
}


#menu-two > li:hover {
  border-right: 5px solid #007bff;
  text-shadow: 1px 2px 2px red;
}

#menu-two .has-sub:hover ul {
  display: block;
  text-shadow: 1px 3px 3px gray;
  /*clear: both;*/
}

  #menu-two .has-sub:hover ul .has-sub ul {
    display: none;
  }

#menu-two .has-sub ul .has-sub:hover ul {
  display: block;
  /*clear: both;*/
}


#menu-two > li > a:hover ~ span, #menu-two > li > a:focus ~ span {
  display: block;
  position: relative;
  left: 10px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transform: scaleX(3);
  transition: 0.3s cubic-bezier(.3,.2,.5,.8);
}


aside {
  float: left;
  padding: 5px;
  margin-left: 5px;
  margin-top: 30px;
  margin-right: 20px;
}

label.menu-side {
  display: none;
  /*float: left;*/ /*arrange one after another and same size*/
  background-color: #1063DF;
  height: 0px;
  width: auto;
  overflow: hidden;
  padding: 0px;
  cursor: pointer;
}

  label.menu-side > a {
    padding: 5px;
    height: 20px;
    color: #ffffff;
  }


#menu-three input {
  display: none;
}


#menu-three span {
  display: block;
  background: red;
  height: 8px;
  width: 60px;
  border-radius: 5px;
  margin: 6px;
}

  #menu-three span:nth-child(2) {
    height: 10px;
    width: 10px;
    border-right-width: 20px;
    border-radius: 5px;
    margin: 2px;
    transform: translateX(70px);
  }


/*#menu-three input:hover ~ span {
  width: 45px;
  transition-duration: 2s;
}

  #menu-three input:hover ~ span:nth-child(6) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:hover ~ span:nth-child(7) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:hover ~ span:nth-child(2) {
    width: 5px;
    height: 10px;
    transform: translate(70px,70px);
    transition-duration: 2s;
  }*/


#menu-three input:checked ~ span {
  width: 45px;
  transition-duration: 2s;
}

  #menu-three input:checked ~ span:nth-child(6) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:checked ~ span:nth-child(7) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:checked ~ span:nth-child(2) {
    width: 5px;
    height: 10px;
    transform: translate(70px,70px);
    transition-duration: 2s;
  }


#menu-three input:checked ~ label.menu-side {
  display: inline; /*arrange one after another and different size*/
  height: 400px;
  transition-property: all;
}


#menu-three a:hover, #menu-three a:focus {
  color: red;
  transition-duration: 1s;
}


section {
  padding: 10px;
  margin-left: 120px;
}


article {
  padding: 10px;
}


#first-section p:first-letter {
  float: left;
  font-size: 50px;
  color: red;
  line-height: 80%;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  letter-spacing: 5px;
}


.clear {
  clear: both;
}
/*float affects the latter elements so clearance after float usage*/


.id-usage {
  font-size: 2em;
  color: red;
}
/*id selector usage*/


table, caption, th, td {
  text-align: left;
  border: 2px solid #2faafd;
  border-collapse: collapse;
  padding: 2px;
  font-size: 18px;
}

thead {
  background-color: burlywood;
}

tbody {
  border-style: dashed;
}

tfoot {
  background-color: cornflowerblue;
}

.table-face {
}


.column-face {
  background-color: antiquewhite;
}


footer {
  text-align: center;
  align-content: center;
}

  footer > div {
    padding-top: 10px;
  }

svg {
  height: 100px;
  width: 430px;
  overflow: visible;
}

ellipse {
  stroke: #007bff;
  fill: azure;
  fill-opacity: 0.5;
  stroke-width: 2px;
}
