
/* --------------------------------------------------------------------------------
/// <summary>
/// web.css
/// CSS (modified from old works)
/// created by Mehrdad Soleimanimajd on 13.05.2022
/// </summary>
/// <created>ʆϒʅ, 13.05.2022</created>
/// <changed>ʆϒʅ, 28.03.2023</changed>
 --------------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) and (max-height: 768px) {
  p {
    font-family: 'Segoe UI', Verdana, Arial;
    /*fallback system starts at wished font and end with a generic font family*/
    font-size: inherit;
  }
}
/*different style rules supporting different media with same style sheet file.
a research on media type before use is advised.*/
@media only print {
  p {
    font-family: 'Segoe UI', Verdana,Arial;
    font-size: inherit;
    color: black;
  }
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 0%;
  margin: 0%;
}
/*Note: Cross browsers: predefined margin and padding to avoid visual differences*/


header {
  overflow: hidden;
}


a {
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
}
  /*element selector usage*/

  /*Notes:*/
  /*CSS selectors are element, class and id selectors*/
  /*a custom identifier for selectors never starts with numbers*/


  a.link-class {
    font-size: 1.2em;
    /*em size unit is recommended by W3C, encouraging pixels/16=em formula*/
    font-style: oblique;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #8000FF
  }

.link-class {
  display: block;
  max-height: 40px;
  overflow: hidden;
}
/*class selector usage*/

a.link-class:hover, a.link-class:active {
  text-align: left;
  font-size: 30px;
  color: sandybrown;
  transition-duration: 2s;
}
/*pseudo classes usage*/


h1 {
  overflow: hidden;
}


header, .content {
  margin: 1%;
  padding: 3%;
}


p {
  text-align: left;
  font-size: 20px;
  background-color: #d8d8d8;
  padding: 10px;
}


/*more CSS selectors: CSS Combinators*/
div p {
  /*background-color: blue;*/
}
/*CSS descendant: select all <p> elements inside of*/
div ~ p {
  /*background-color: blueviolet;*/
}
/*CSS general sibling: select all <p> siblings of*/
div > p {
  /*background-color: brown;*/
}
/*CSS child selector: select all <p> elements that are immediate children of*/
div + p {
  /*background-color: firebrick;*/
}
/*CSS adjacent sibling: select all <p> placed immediately after of*/


nav {
  margin: 0%;
  padding: 0%;
}


ul.menu-nav, ul.menu-nav ul {
  list-style: none;
  display: block;
  background-color: #141a1d;
  height: 40px;
  overflow: hidden;
  padding: 5px;
  border-bottom: 5px solid #007bff;
  /*clear: both;*/
}

  ul.menu-nav li {
    float: left; /*float list items next to each other*/
    height: 30px;
    width: auto;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
  }

    ul.menu-nav li a {
      height: 20px;
      display: block; /*whole link area click-able*/
      color: mediumspringgreen;
    }

  ul.menu-nav .has-sub ul {
    position: absolute;
    height: 80px;
    top: 290px;
    display: none;
  }

  ul.menu-nav .has-sub li {
    float: none;
  }

  ul.menu-nav .has-sub ul .has-sub ul {
    position: relative;
    height: 40px;
    top: -20px;
    left: 80px;
    display: none;
    border: 0px;
  }

  ul.menu-nav .has-sub ul .has-sub li {
    float: left;
  }


#menu-one > li > a:hover::after, #menu-one > li > a:focus::after {
  content: '';
  display: block; /*adjustable as blocks*/
  left: 50%;
  border-top: 10px dotted forestgreen; /*shorthand property usage*/
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 10px;
}
/*id selector usage*/

.stickTop {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px;
  z-index: 1;
}


  .stickTop + .menu-nav {
    margin-top: 80px;
  }


#menu-two > li:hover {
  border-right: 5px solid #007bff;
  text-shadow: 1px 2px 2px red;
}

#menu-two .has-sub:hover ul {
  display: block;
  text-shadow: 1px 3px 3px gray;
}

  #menu-two .has-sub:hover ul .has-sub ul {
    display: none;
    width: 200px;
  }

#menu-two .has-sub ul .has-sub:hover ul {
  display: block;
}


#menu-two > li > a:hover ~ span, #menu-two > li > a:focus ~ span {
  display: block;
  position: relative;
  left: 10px;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  transform: scaleX(3);
  transition: 0.3s cubic-bezier(.3,.2,.5,.8);
}


aside {
  /*position: fixed;
  top: 10px;
  left: 2%;*/
  display: block;
  float: left;
  padding: 5px;
  margin-left: 5px;
  margin-top: 30px;
  margin-right: 20px;
  height: 100%;
}

label.menu-side {
  display: none;
  /*float: left;*/ /*arrange one after another and same size*/
  background-color: #1063DF;
  height: 0px;
  width: auto;
  overflow: hidden;
  padding: 0px;
  cursor: pointer;
}

  label.menu-side > a {
    padding: 5px;
    height: 20px;
    color: #ffffff;
  }


#menu-three input {
  display: none;
}


#menu-three span {
  display: block;
  background: red;
  height: 8px;
  width: 60px;
  border-radius: 5px;
  margin: 6px;
}

  #menu-three span:nth-child(2) {
    height: 10px;
    width: 10px;
    border-right-width: 20px;
    border-radius: 5px;
    margin: 2px;
    transform: translateX(70px);
  }


#menu-three input:checked ~ span {
  width: 45px;
  transition-duration: 2s;
}

  #menu-three input:checked ~ span:nth-child(6) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:checked ~ span:nth-child(7) {
    width: 35px;
    transition-duration: 2s;
  }

  #menu-three input:checked ~ span:nth-child(2) {
    width: 5px;
    height: 10px;
    transform: translate(70px,70px);
    transition-duration: 2s;
  }


#menu-three input:checked ~ label.menu-side {
  display: inline; /*arrange one after another and different size*/
  height: 400px;
  transition-property: all;
}


#menu-three a:hover, #menu-three a:focus {
  color: red;
  transition-duration: 1s;
}


#interact {
  display: grid;
  background-color: #fff3b2;
  width: 100%;
  top: 20px;
  padding: 5px;
}

  #interact div section {
    padding: 3px;
    font-weight: bolder;
  }


  #interact div {
    display: block;
    background-color: #141a1d;
    padding: 8px;
    border: 1px solid black;
  }

  #interact a {
    display: block;
    float: left;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #dcdcdc;
    width: 80%;
  }

  #interact section {
    padding: 10px;
    margin-left: 30px;
    margin: 20px;
  }

  #interact div label input {
    display: none;
  }

  #interact div label {
    float: right;
    width: 40px;
    height: 30px;
    padding: 5px;
  }

    #interact div label span {
      display: block;
      background-color: #0094ff;
      border-radius: 5px;
      width: 40px;
      height: 6px;
      margin: 4px;
    }

  #interact article {
    display: block;
    float: left;
    padding: 10px;
  }

  #interact details {
    display: block;
    float: left;
    color: #dcdcdc;
    padding: 10px;
    clear: both;
    /*float affects the latter elements so clearance after float usage*/
  }


  #interact div input:checked ~ span {
    background-color: #b200ff;
  }


#first-section p:first-letter {
  float: left;
  font-size: 50px;
  color: red;
  line-height: 50%;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  letter-spacing: 5px;
}


table, caption, th, td {
  color: aliceblue;
  text-align: left;
  border: 2px solid #2faafd;
  border-collapse: collapse;
  padding: 2px;
  font-size: 18px;
}

thead {
  background-color: cornflowerblue;
}

tbody {
  border-style: dashed;
}

tfoot {
  background-color: cornflowerblue;
}

.table-face {
}


.column-face {
  background-color: crimson;
}


footer {
  text-align: center;
  align-content: center;
}

  footer > div {
    padding-bottom: 40px;
    animation-name: animated;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-fill-mode: both;
    animation-direction: alternate;
  }

@keyframes animated {
  /*from {
  }

  to {
  }*/

  0% {
    font-size: 25px;
    color: #007fff;
  }

  25% {
    font-size: 50px;
    color: #0851f9;
  }

  50% {
    font-size: 0;
    color: #0927ef;
  }

  75% {
    font-size: -25px;
    color: #1809f4;
  }

  100% {
    font-size: -50px;
    color: #3c0af5;
  }
}

@-moz-keyframes animated {
}

@-webkit-keyframes animated {
  0% {
    font-size: 10px;
    color: #007fff;
  }

  25% {
    font-size: 20px;
    color: #0851f9;
  }

  50% {
    font-size: 0;
    color: #0927ef;
  }

  75% {
    font-size: 15px;
    color: #1809f4;
  }

  100% {
    font-size: 35px;
    color: #3c0af5;
  }
}

svg {
  height: 100px;
  width: 430px;
  overflow: visible;
}

ellipse {
  stroke: #007bff;
  fill: azure;
  fill-opacity: 0.5;
  stroke-width: 1px;
}
