/* --------------------------------------------------------------------------------
/// <summary>
/// CSS (modified from old works)
/// </summary>
/// <created>ʆϒʅ,13.05.2022</created>
/// <changed>ʆϒʅ,14.05.2022</changed>
 --------------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) and (max-height: 768px) {
  p {
    font-family: Verdana,Arial;
    font-size: inherit;
  }
}
/*different style rules supporting different media with same style sheet file.
a research on media type before use is advised.*/
@media only print {
  p {
    font-family: Verdana,Arial;
    font-size: inherit;
    color: black;
  }
}


body {
  margin: 10%;
}


a {
  text-align: left;
}
  /*element selector usage*/

  /*Notes:*/
  /*CSS selectors are element, class and id selectors*/
  /*a custom identifier for selectors never starts with numbers*/


  a.link_class {
    font-size: 20px;
  }

.link_class {
  background-color: forestgreen;
}
/*class selector usage*/

a.link_class:hover {
  text-align: left;
  font-size: 25px;
  color: sandybrown;
}


p {
  text-align: left;
  font-size: 18px;
  background-color: skyblue;
}


nav {
}

aside {
  float: left;
  height: 500px;
  padding: 30px;
  background-color: blueviolet;
}


#paragraph_id {
  font-size: 3.0em;
  color: red;
}
/*id selector usage*/

