
/* --------------------------------------------------------------------------------
/// <summary>
/// site.css
/// WebApps effects
/// created by Mehrdad Soleimanimajd on 15.04.2023
/// </summary>
/// <created>ʆϒʅ, 15.04.2023</created>
/// <changed>ʆϒʅ, 02.05.2023</changed>
 -------------------------------------------------------------------------------- */


@media screen {}

@media print {}

:root {
  /* --slidesCount: 3; */
}

body {
  background-color: aliceblue !important;
  padding: 2px;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

#contentGrid {
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px;
  /* grid-template: "a a a" 10vh
                 "b c c" 1fr
                 "b c c" 1fr/ 10vw, 1fr; */
  gap: 20px;
}

#cardsOne {
  /* display: none; */
  position: sticky;
  grid-column: 1 / 2;
  grid-row: 1;
  /* align-items: center;
  align-content: center;
  justify-items: center; */
  left: calc(50%/2);
  width: 350px;
  top: 3px;
  height: 150%;
  background-color: #62bbe3;
  /* padding: 5px; */
  border-radius: 5px;
  z-index: 2;
}

#cardsOne>#OneCa:hover {
  /* display: block; */
  top: 20px;
  /* width: 50%; */
  position: relative;
  background-color: red;
  /* border-radius: 10px; */
}

#cardsOne:first-child {
  /* display: block; */
  /* top: 5px; */
  /* left: calc(50%/2);
  width: 50%; */
  /* position: fixed; */
  /* background-color: #62bbe3; */
  /* border-radius: 10px; */
}

#cardsOne #TwoCa {
  /* display: block; */
  top: 40px;
  /* left: calc(50%/2); */
  /* width: 50%; */
  position: fixed;
  background-color: cadetblue;
  /* border-radius: 10px; */
}

aside {
  /* display: block; */
  /* visibility: hidden; */
  /* float: left; */
  position: sticky;
  grid-column: 1;
  grid-row: 2/3;
  top: 40px;
  width: 150px;
  height: 100%;
  /* height: fit-content; */
  background-color: #62bbe3;
  padding: 5px;
  padding-inline-start: 0;
  /* z-index: 0; */
}

#OneA:hover {
  border: 1px solid red;
  position: relative;
  /* top: inherit; */
  left: 100px;
  z-index: 4;
}

#OneA span {
  display: block;
  background-color: #143a88;
  width: 30px;
  height: 30px;
}

#cAsideContent:hover~span {
  display: block;
  position: fixed;
  content: " ";
  left: 10px;
  /* background-color: #cd4be1; */
  border: 5px solid red;
}

.contentC {
  /* display: flex;
  flex-direction: column; */
  position: sticky;
  /* align-items: center;
  justify-items: center; */
  grid-column: 2;
  grid-row: 2;
  /* align-content: center; */
  /* left: calc(50%/2); */
  /* left: 50vh; */
  /* TODO: just slide up at right point */
  /* top: 300px; */
  width: 100%;
  /* height: 100px; */
  /* background-color: #62bbe3; */
  /* margin: 5%; */
  /* margin-left: 10%; */
  border-radius: 5px;
  /* padding: 1px; */
  z-index: 3;
}

.headerCcards {
  /* display: flex; */
  /* position: relative; */
  /* align-items: center;
  justify-content: center; */
  /* top: unset; */
  height: fit-content;
  /* left: calc(50%/2); */
  width: 80%;
  /* clear: both; */
  /* margin: 5%; */
  background: linear-gradient(#cd4be1, #3fb5e3);
}

.shrinkCcards {
  /* display: block; */
  position: fixed;
  left: inherit;
  /* top:-100px; */
  width: 300px;
  height: 200px;
  justify-content: center;
  /* clear: both; */
  padding: 5px;
  border: 1px solid #143a88;
  border-radius: 10px;
}

.headerCaside {
  /* align-items: center;
  justify-content: center; */
  /* top: 0; */
  height: fit-content;
  width: 80%;
  /* display: flex; */
  /* clear: both; */
  background: linear-gradient(#54e4ca, #3fb5e3);
}

.shrinkCaside {
  /* display: block; */
  /* position: relative; */
  width: 90%;
  /* height: auto; */
  height: 100px;
  overflow: hidden;
  justify-content: center;
  /* clear: both; */
  padding: 5px;
  border: 1px solid #143a88;
  border-radius: 10px;
}

.textC {
  /* display: flex;
  flex-direction: column; */
  position: sticky;
  /* align-items: center;
  justify-content: center; */
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  /* top: 50vh; */
  /* left: calc(50%\2); */
  /* height: 100vh; */
  /* clear: both; */
  /* margin: 5%; */
  /* padding: 5px; */
  /* z-index: 0; */
}

/* .holdC {
  display: block;
  position: fixed;
  top: 10;
  left: calc((100%/2)-100lh);
  justify-content: center;
} */

.headerC:hover {
  color: red;
}

/* .headerC: {
  color: blue;
} */
